@using X.PagedList.Mvc.Core
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common

@model IPagedList<TblPersona>

@{
    ViewData["Title"] = "Index";
}

<h3>Personas</h3>

<p>
    <a asp-action="Create">Crear persona</a>
</p>

<div class="border">
    <br />
    <div class="m-2"> 
        <h3>Buscar Persona</h3>
        <input type="text" id="inquiName" name="inquiName" placeholder="nombre Persona" />
        <label id="lblPersonaIdSearch"></label> &nbsp; - &nbsp;
        <label id="lblPersonaSearch"></label>
        <br />
    </div>
    <br />
</div>

<br />

<h3>Lista de Personas</h3>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @* @Html.DisplayNameFor(model => model.Nombre) *@
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
    }
        </tbody>
    </table>

    <div class="ms-5  me-5">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" },
            })
    </div>
</div>

<script>
         $("#inquiName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/QR/PersonasGetN',
                    headers: {
                        "RequestVerificationToken":
                            $('input[name="__RequestVerificationToken"]').val()
                    },
                    data: { "term": request.term },
                    dataType: "json",
                    success: function (data) {
                        response($.map(data, function (item) {
                            console.log(data)
                            return {
                                label: item.nombre,
                                value: item.id,
                            };
                        }))
                    },
                    error: function (xhr, textStatus, error) {
                        alert(xhr.statusText);
                    },
                    failure: function (response) {
                        alert("failure " + response.responseText);
                    }
                });
            },
            select: function (e, ui) {
                $("#lblPersonaSearch").text(ui.item.label);
                $("#lblPersonaIdSearch").text(ui.item.value);
                $("#inquiName").val('');
                return false;
            },
            minLength: 1
        });
</script>